# Application Configuration
PORT=3001
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/vehiclesalesdb?schema=public&sslmode=disable

# Test Database Configuration
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5434/vehiclesalesdb_test?schema=public&sslmode=disable
